---
---

<aside class="sidebar card">
    <h2>Your Pantry</h2>
    <nav>
        <ul>
            <li><a href="#" class="active">All Recipes</a></li>
            <li><a href="#">Recent Additions</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
</aside>
